@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

a, a:hover, a:visited {
	color: inherit;
	cursor: pointer;
}

.container-fluid {
	padding: 30px;
	height: 100%;
	z-index: 0;
}

#map {
	height: 100%;
}

#chart_link {
	position: absolute;
	top: 10px; left: 50%;
	transform: translateX(-50%);
	color: white;
	font-weight: bold;
	padding: 10px 20px;
	background-color: maroon;
	border-radius: 10px;
	z-index: 5;
}

#chart {
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	padding: 10px;
	background-color: rgb(20,20,20);
	border-radius: 10px;
	box-shadow: 0 0 20px 5px rgb(20,20,20);
	z-index: 100;
}